.card{
    width: 25%;
}

@media (max-width: 1042px) {
    .card{
        width: 30%;
    }
}

@media (max-width: 768px) {
    .card{
        width: 40%;
    }
}

@media (max-width: 576px) {
    .card{
        width:75%;
    }
}

.modal-body{
    text-align: start;

    .message{
        font-size: 16px;
    }
    .detail{
        font-size: 14px;
        color: rgb(220, 53, 69);
        white-space: normal;
    }
}