.card{
    width: 25%;
}

@media (max-width: 1042px) {
    .card{
        width: 30%;
    }
}

@media (max-width: 768px) {
    .card{
        width: 40%;
    }
}

@media (max-width: 576px) {
    .card{
        width:75%;
    }
}