thead tr{
    border-bottom: hidden; 
    font-size: 12px;
    text-align: center;
}

.table-width-day{
    min-width:90px;
}
.table-width{
    min-width:200px;
}

.table-wrap{
    white-space: nowrap;
}
tbody {
    tr{
        font-size: 12px;

    .td-size{
        font-size: 0.8rem;
    }
    span{
        font-size:10px;
    }
    }
}

.table-wrap{
    white-space: nowrap;
}

