.logo {
  height: 30px;
}

.feature_nav {
  background-color: #222834;
  color: white;
}
.feature_nav a, .feature_nav form, .feature_nav input, .feature_nav span {
  background-color: #222834;
  color: gray;
}
.feature_nav a:hover {
  color: white;
}

.list_icon {
  margin-right: 8px;
}
